* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-container .box {
  position: relative;
}

.img-container .box:hover .box-1 {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.img-container .box:hover .box-2 {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.img-container .box:hover .box-3 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.img-container .box:hover .box-4 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.img-container .box:hover .box-5 {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.img-container .box:hover .box-6 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.img-container .box:hover .box-7 {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

.img-container .box:hover .box-8 {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

.img-container .box:hover .box-9 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.img-container .box:hover .box-10 {
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

.img-container .box .img-box {
  width: 500px;
  height: 500px;
}

.img-container .box .img-box img {
  width: 100%;
  height: 100%;
}

.img-container .box span {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
}

.img-container .box .box-1 {
  background: red;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-2 {
  background: green;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-3 {
  background: blue;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-4 {
  background: yellow;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-5 {
  background: aqua;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-6 {
  background: black;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-7 {
  background: orange;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-8 {
  background: pink;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-9 {
  background: purple;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.img-container .box .box-10 {
  background: LightSeaGreen;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -100;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/*# sourceMappingURL=index.css.map */